@tailwind base;

@tailwind components;

@tailwind utilities;

.main-container {
  background-color: #151515;
  position: relative;
  height: calc(100vh - 96px);
  @apply w-full;
}

.fullname-logo {
  clip-path: url(#clipLogo);
  height: 2.5rem;
  width: auto;
}

.fullname-container {
  background: linear-gradient(311deg, #d70070, #e000ec, #00c5ff, #00f560);
  background-size: 800% 800%;

  animation: AnimationName 22s ease infinite;

  @keyframes AnimationName {
    0% {
      background-position: 26% 0%;
    }
    50% {
      background-position: 75% 100%;
    }
    100% {
      background-position: 26% 0%;
    }
  }
  position: absolute;
  height: 2.5rem;
  width: auto;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 0;

  &::before {
    content: "";
  }
}

.logo-subtitle {
  position: absolute;
  height: 2rem;
  width: 18rem;
  top: 40%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-color: aqua;
  transform: skew(-10deg);
}

@screen md {
  .main-container {
    height: calc(100vh - 96px);
  }
  .fullname-logo {
    height: 5rem;
    width: auto;
  }

  .fullname-container {
    height: 5rem;
    width: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo-subtitle {
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    transform: skew(-10deg);
  }
}

@screen lg {
  .main-container {
    @apply h-screen;
  }
  .fullname-logo {
    height: 5rem;
    width: auto;
  }

  .fullname-container {
    height: 5rem;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo-subtitle {
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    transform: skew(-10deg);
  }
}

@screen xl {
  .fullname-logo {
    height: 5rem;
    width: auto;
  }

  .fullname-container {
    height: 5rem;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo-subtitle {
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    transform: skew(-10deg);
  }
}
