@tailwind base;

@tailwind components;

@tailwind utilities;

.main-container {
  @apply bg-gray-dark;
  @apply relative;
  @apply h-screen;
  @apply w-full;
}

.fullname-logo {
  @apply absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::before {
    content: "";
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
    z-index: -1;
    background-image: url("../assets/logo-background.jpg");
  }
}
